<app-loading *ngIf="showLoading"></app-loading>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center my-4">
      <h2 [ngClass]="titleStyle">Products</h2>
    </div>
    <hr />
    <div class="col-md-4 my-4" *ngFor="let product of lstProducts">
      <div class="card">
        <div class="card-header pt-3 pb-4" [ngClass]="headerPanel">
          <a [ngClass]="linkStyle" [routerLink]="['/productDetails',product.idDrink]">
            <i class="fa-solid fa-eye"></i> {{product.strDrink}}
          </a>
        </div>
        <a [routerLink]="['/productDetails',product.idDrink]"><img src="{{product.strDrinkThumb}}" class="card-img-bottom" /></a>
      </div>
    </div>
  </div>
</div>