<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5 justify-content-center">
      <div class="col-lg-4 text-start">
        <div class="footer-item d-flex flex-column">
          <h4 class="mb-4 text-white">Links</h4>
          <a class="btn-link" aria-current="page" [routerLink]="['/']">Home</a>
          <a class="btn-link" aria-current="page" [routerLink]="['/products']">Products</a>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="footer-item">
          <h4 class="mb-4 text-white">Alchohol</h4>
          <p class="text-white">
            The three types of alcohol are ethanol, methanol, and isopropanol. Unfortunately, someone with an alcohol addiction may risk their health by consuming any of the three kinds of alcohol, while only one is intended for ingestion. They may not realize the harm they can do to their body or that consequences can be fatal.
          </p>
        </div>
      </div>
      <div class="col-lg-4 text-end">
        <div class="footer-item d-flex flex-column">
          <h4 class="mb-4 text-white">Follow Us</h4>
          <a href="#" class="btn-link"> Faceboock</a>
          <a href="#" class="btn-link"> Instagram</a>
          <a href="#" class="btn-link"> Twitter</a>
          <h4 class="my-4 text-white">Contact Us</h4>
          <a href="#" class="btn-link"><i class="fas fa-envelope text-secondary me-2"></i> AlchoholDream.com</a>
          <a href="#" class="btn-link"><i class="fas fa-phone text-secondary me-2"></i> (+46) 7632 588 79</a>
        </div>
      </div>
    </div>
  </div>
</div>