<div class="container-fluid sticky-top px-0" [style.background-color]="primaryColor">
  <div class="container-fluid">
    <div class="container px-0">
      <nav class="navbar navbar-light navbar-expand-xl">
        <a href="index.html" class="navbar-brand">
          <div class="text-primary display-6 fw-bold mb-0">
            <img [src]="logo" width="100" />
          </div>
        </a>
        <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="fa fa-bars text-primary"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/products']">Products</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>